<div class="row">
  <div class="col-12">
    <div class="sidebar-menu-container">
      <app-sidebar-menu></app-sidebar-menu>
    </div>
  </div>
</div>

<div class="container-table">
  <div class="row">
    <div class="col-6">
      <label for="" class="label-title">Empleados</label>
    </div>
    <div class="col-6">
      <button
        type="button"
        class="btn btn-primary add-btn"
        data-bs-toggle="modal"
        data-bs-target="#modalFormUser"
        *ngIf="isAdminUser"
      >
        Agregar Empleado
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead class="table-head">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cedula</th>
            <th scope="col">Direccion</th>
            <th scope="col">Correo Electronico</th>
            <th scope="col">Telefono</th>
            <th scope="col">Fecha de Contratacion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.nombre }}</th>
            <td>{{ user.apellido }}</td>
            <td>{{ user.cedula }}</td>
            <td>{{ user.direccion }}</td>
            <td>{{ user.correo }}</td>
            <td>{{ user.telefono }}</td>
            <td>{{ user.fecha_contratacion }}</td>
            <td class="td-icons">
              <a
                (click)="openForEdit(user)"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modalFormUser1"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Editar Empleado"
                *ngIf="isAdminUser"
              >
                <i class="bi bi-pencil-square blue-color"></i
              ></a>
              <a
                type="button"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Asignar Proyecto"
                data-bs-toggle="modal"
                data-bs-target="#asignarProyectoModal"
                (click)="traerProyectos(user)"
              >
              <i class="bi bi-file-ppt celeste-color"></i>
              </a>
              <a
                (click)="delete(user)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Eliminar Empleado"
                *ngIf="isAdminUser"
              >
                <i class="bi bi-trash red-color"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- MODAL CREAR EMPLEADO -->

<div
  class="modal fade"
  id="modalFormUser"
  tabindex="-1"
  aria-labelledby="modalFormUser"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Nuevo Empleado</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Nombre</label>
          <input
            type="text"
            [(ngModel)]="selectedUsers.nombre"
            nombre="nombre"
            placeholder="Nombre"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Apellido</label>
          <input
            type="text"
            [(ngModel)]="selectedUsers.apellido"
            apellido="apellido"
            placeholder="Apellido"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Cedula</label>
          <input
            type="numbers"
            [(ngModel)]="selectedUsers.cedula"
            cedula="cedula"
            placeholder="Cedula"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Direccion</label>
          <textarea
            class="form-control"
            [(ngModel)]="selectedUsers.direccion"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="">Correo Electronico</label>
          <input
            type="text"
            [(ngModel)]="selectedUsers.correo"
            correoElectronico="correoElectronico"
            placeholder="CorreoElectronico"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Telefono</label>
          <input
            type="numbers"
            [(ngModel)]="selectedUsers.telefono"
            telefono="telefono"
            placeholder="Telefono"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Fecha de Contratacion</label>
          <input
            class="form-control"
            placeholder="AAAA-MM-DD"
            name="dp"
            [(ngModel)]="selectedUsers.fecha_contratacion"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="btnCerrar"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="addOrEdit()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EDITAR EMPLEADO -->

<div
  class="modal fade"
  id="modalFormUser1"
  tabindex="-1"
  aria-labelledby="modalFormUser1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Editar Empleado</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Nombre</label>
          <input
            type="text"
            [(ngModel)]="selectedUsers.nombre"
            nombre="nombre"
            placeholder="Nombre"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Apellido</label>
          <input
            type="text"
            [(ngModel)]="selectedUsers.apellido"
            apellido="apellido"
            placeholder="Apellido"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Cedula</label>
          <input
            type="numbers"
            [(ngModel)]="selectedUsers.cedula"
            cedula="cedula"
            placeholder="Cedula"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Direccion</label>
          <textarea
            class="form-control"
            [(ngModel)]="selectedUsers.direccion"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="">Correo Electronico</label>
          <input
            type="text"
            [(ngModel)]="selectedUsers.correo"
            correoElectronico="correoElectronico"
            placeholder="CorreoElectronico"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Telefono</label>
          <input
            type="numbers"
            [(ngModel)]="selectedUsers.telefono"
            telefono="telefono"
            placeholder="Telefono"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Fecha de Contratacion</label>
          <input
            class="form-control"
            placeholder="YYYY-MM-DD"
            name="dp"
            [(ngModel)]="selectedUsers.fecha_contratacion"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="addOrEdit()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ASIGNAR PROYECTO -->


<div
  class="modal fade"
  id="asignarProyectoModal"
  tabindex="-1"
  aria-labelledby="asignarProyectoModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Asignar Empleado</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-check" *ngFor="let project of projects">
          <input (change)="onItemChange($event)" class="form-check-input" type="radio" name="proyecto" id="{{project.codigo}}">
          <label class="form-check-label" for="{{project.codigo}}">
            {{project.codigo}} - {{project.nombre}}
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="btnCerrar"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="asignarProyecto()">
          Asignar
        </button>
      </div>
    </div>
  </div>
</div>
