<span (click)="menuDropdown()" class="menu-btn">
    <i class="bi bi-list"></i> Menú
</span>
<div #menuSidebar class="menu-hide">
    <button routerLink="/projects" mat-button class="menu-button">
        <mat-icon class="blue-color">assignment</mat-icon>
        <span >Proyectos</span>
    </button>
    <button routerLink="/users" mat-button class="menu-button">
        <mat-icon class="blue-color">person</mat-icon>
        <span >Empleados</span>
    </button>
    <button routerLink="/tasks" mat-button class="menu-button">
        <mat-icon class="blue-color">event note</mat-icon>
        <span >Tareas</span>
    </button>
    <button routerLink="/estadisticas" mat-button class="menu-button">
        <mat-icon class="blue-color">sort</mat-icon>
        <span >Estadísticas</span>
    </button>
    <button routerLink="/reporte" mat-button class="menu-button">
        <mat-icon class="blue-color">list</mat-icon>
        <span >Reporte</span>
    </button>
    <mat-divider></mat-divider>

    <button (click)="cerrarSesion()" mat-button class="menu-button">
        <mat-icon class="blue-color">input</mat-icon>
        <span >Cerrar Sesión</span>
    </button>
</div>
