<span class="role-text">{{roleText}}</span>


<div class="row">
    <div class="col-12">
        <div class="sidebar-menu-container">
            <app-sidebar-menu></app-sidebar-menu>
        </div>
    </div>
</div>

<div class="container-table">
    <div class="row">
        <div class="col-12 text-center">
            <label for="" class="fs-1 title">Estadísticas</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pie-chart-section">
            <figure class="pie-chart">
                <h2>Registros hasta la fecha:</h2>
                <figcaption>
                    Proyectos {{cantidadProyectos}}<span style="color:#4e79a7"></span><br>
                    Tareas {{cantidadTareas}} <span style="color:#f28e2c"></span><br>
                    Empleados {{cantidadEmpleados}} <span style="color:#e15759"></span><br>
                </figcaption>
                <cite>Soluciones HSL</cite>
            </figure>
        </div>
    </div>
</div>