<div class="row">
    <div class="col-12">
        <div class="sidebar-menu-container">
            <app-sidebar-menu></app-sidebar-menu>
        </div>
    </div>
</div>

<div class="container-table">
    <div class="row">
        <div class="col-12 text-center">
            <label for="" class="fs-1 title">Estadísticas</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <figure class="pie-chart">
                <h2>World electricity generation by source</h2>
                <figcaption>
                    Coal 38<span style="color:#4e79a7"></span><br>
                    Natural Gas 23<span style="color:#f28e2c"></span><br>
                    Hydro 16<span style="color:#e15759"></span><br>
                    Nuclear 10<span style="color:#76b7b2"></span><br>
                    Renewable 60<span style="color:#59a14f"></span><br>
                    Other 7<span style="color:#edc949"></span><br>
                    test 10<span style="color:#af7aa1"></span><br>
                    amin 14<span style="color:#ff9da7"></span><br>
                    mehi 16<span style="color:#9c755f"></span>
                </figcaption>
                <cite>International Energy Agency</cite>
            </figure>
        </div>
    </div>
</div>