mat-card {
  width: 50%;
  top: 60px;
  margin: auto;
  text-align: center;
}

mat-form-field {
  max-width: 215px;
}

.logo-login {
  width: 100%;
  display: block;
}

.login-card {
  background-color: rgb(201, 218, 255);
}

.slogan-text {
  padding: 0 120px;
  font-weight: 600;
  margin-top: 35px;
}

.info {
  width: 60%;
  padding-right: 50px;
}

.text-error {
  font-weight: 600;
  color: red;
  font-size: 12px;
}

@media (max-width: 960px) {
  .info {
    width: 95%;
    padding-right: 0;
  }

  .slogan-text {
    padding: 0 50px;
  }
}
